<html>
<head>
        <title>Meraki Miles</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="shortcut icon" href="/static/favicon.ico" />
  <style>
  h1 { font-size: 18pt; color: #6FB73A; }
  .networkfield {
    width: 500px;
    height: 40px;
  }
  .addressfield {
    width: 500px;
        height: 75px;
  }
  .queryfield{
    width: 500px;
    height: 30px;
  }
  .serialfield {
        width: 300px;
        height: 30px;
        float: left;
        clear: none;
  }
  .namefield {
        height: 30px;
        width: 300px;
        float: left;
        clear: none;
  }
  .clear {
        clear: both;
  }
  </style>
</head>

<body>
<div id="tableWrapper">
	<div id="sidebar">
		<img src="https://n7.meraki.com/images/cisco-meraki-white.svg?1481053946" />
		<div class="menuItem"><a href="/">Add Devices</a></div>
		<div class="menuItem"><a href="/createnetwork">Create Network</a></div>
		<div class="menuItem"><a href="/replace">Replace Devices</a></div>
        <div class="menuItem"><a href="/miles">Meraki Miles</a></div>
        <div class="menuItem"><a href="/ssid">Update SSID</a></div>
        <div class="menuItem"><a href="/psk">PSK Groups</a></div>
        <div class="menuItem"><a href="/bulk">Bulk Change</a></div>
	</div>
        <div id="content">

        <img src="/static/logo.png" width="300" />
<h1>Meraki Miles</h1>
	
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="queryfield">
            {{ form.queryField.label }}
            {{ form.queryField() }}
            {% for error in form.queryField.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="clear"></div><br/>
        <div class="submitfield">{{ form.submitField() }}</div>
    </form>
    <div><h4>Suggested Queries</h4></div>
    <div>
    How is &lt;Network Name&gt; doing?<br/>
    List clients for &lt;Network Name&gt;<br/>
    Show clients on SSID &lt;SSID Name&gt;<br/>
    Get clients on VLAN &lt;VLAN ID&gt;<br/>
    Tell me about client &lt;Client MAC/Name&gt;<br/>
    Client events for &lt;Client MAC/Name&gt;
    </div>
    <div><h4>Demo Data</h4></div>
    <div>
    Network: Parker LAN<br/>
    Client: 38:53:9c:4b:70:06<br/>
    Client: Nathan iPhone<br/>
    SSID: sandstorm<br/>
    VLAN: 810<br/>
    </div>
    </div>
    <div class="clear"></div>
	<div id="footer"><center>Copyright &copy; 2019-Present, Nathan Wiens (nathan@wiens.co)</center></div>
</div>
</body>
</html>
